div
    .page-header {{selectedLanguage.type === 'ru' ? 'О компании' : 'About company' }}
    .page-content.page-content_about
        img.page-item-about-photo(src='../img/about/aleksei_antonov.jpg')
        .page-item-about-description.description_justify(v-html="selectedLanguage.type === 'ru' ? Data.company.aboutRu : Data.company.aboutEng")
        .page-item-about-links
            .page-item-about-links_articles {{selectedLanguage.type === 'ru' ? 'Статьи:' : 'Articles:' }}
            .page-item-about-links_item(v-for="(article, index) in Data.company.articles")
                a(:href="article.link" target="_blank")
                    .fa.fa-newspaper-o.icon
                    span {{selectedLanguage.type === 'ru' ? article.name : article.nameEng }}

            .page-item-about-links_item
                router-link(to="/company/smi")
                    .fa.fa-newspaper-o.icon
                    span {{selectedLanguage.type === 'ru' ? 'СМИ о нас' : 'Mass Media about us' }}

            .page-item-about-links_item
                router-link(to="/company/films")
                    .fa.fa-video-camera.icon
                    span {{selectedLanguage.type === 'ru' ? 'Фильмы о Камнерезном Доме Алексея Антонова' : 'Movies about the Stone-crafting House by Alexey Antonov' }}

            //.page-item-about-links_item
            //    a(:href="Data.company.article" target="_blank")
            //        .fa.fa-hourglass-o.icon
            //        span {{selectedLanguage.type === 'ru' ? 'Истоки камнерезного искусства' : 'History of stone-crafting art' }}
            .catalogs-head {{selectedLanguage.type === 'ru' ? 'Каталоги' : 'Catalogs' }}:
            .catalogs-container
                div
                    p {{selectedLanguage.type === 'ru' ? 'Камнерезные фигуры' : 'Stone-crafting figures'}}
                    .catalogs-item
                        a(:href="Data.company.catalogs.cat1" target="_blank" :title="selectedLanguage.type === 'ru' ? 'Камнерезные фигуры' : 'Stone-crafting figures'")
                            img(:src='Data.company.catImgs[0]')
                div
                    p {{selectedLanguage.type === 'ru' ? 'Каменные цветы' : 'Stone flowers'}}
                    .catalogs-item
                        a(:href="Data.company.catalogs.cat2" target="_blank" :title="selectedLanguage.type === 'ru' ? 'Каменные цветы' : 'Stone flowers'")
                            img(:src='Data.company.catImgs[1]')
                div
                    p {{selectedLanguage.type === 'ru' ? 'Фантазийная огранка' : 'Fancy cut'}}
                    .catalogs-item
                        a(:href="Data.company.catalogs.cat3" target="_blank" :title="selectedLanguage.type === 'ru' ? 'Фантазийная огранка' : 'Fancy cut'")
                            img(:src='Data.company.catImgs[2]')