.page-container
    .page-header {{selectedLanguage.type === 'ru' ? 'Контакты: ' : 'Contacts: ' }}
    .page-contant_contacts
        .page-contant_item
            .page-item
                span {{selectedLanguage.type === 'ru' ? 'Телефоны: ' : 'Phones: ' }}
                span(v-html="ContactsData.phones")
            .page-item(v-html="'E-mail: ' + ContactsData.email")
            a.page-item.instagram-block(:href="ContactsData.inst" target="blank")
                img(:src="ContactsData.instIcon" style="width: 25px")
                span {{ContactsData.instName}}
        .page-contant_item.page-contant_item-opening
            div {{selectedLanguage.type === 'ru' ? ContactsData.openingCeremony : ContactsData.openingCeremonyEng }}
            //a(:href="ContactsData.openingCeremonyLink") {{selectedLanguage.type === 'ru' ? ContactsData.openingCeremonyTextLink : ContactsData.openingCeremonyTextLinkEng }}
            img.page-contant_item-img(:src="ContactsData.openingCeremonyPhoto")

    .page-header_galleries
        h3 {{selectedLanguage.type === 'ru' ? 'Галерея' : 'Gallery' }}
        p {{selectedLanguage.type === 'ru' ? this.ContactsData.addressRu : this.ContactsData.addressEng }}
        .map-container
            #map(style="width: 100%; height: 500px")