div
    .page-header.video-header {{selectedLanguage.type === 'ru' ? 'Фильмы о Камнерезном Доме Алексея Антонова' : 'Movies about the Stone-crafting House by Alexey Antonov' }}
    .company-about_back(@click="goBack()")
    .page-content.page-content_about
        .film-container
            .film-name {{selectedLanguage.type === 'ru' ? Data.company.videos[1].name : Data.company.videos[1].nameEng }}
            .film-video
                video(controls="controls" width="80%" height="100%" :poster="Data.company.videos[1].poster")
                    source(:src="Data.company.videos[1].src")
                    | Тег video не поддерживается вашим браузером.
                    a(:href="Data.company.videos[1].src") Скачайте видео
