.full-img-container
    .full-img-container_slick
        div.main-slider_item(v-for="image in images" :style="{ backgroundImage: 'url(' + image + ')'}")
    .full-img-close(title="Закрыть" @click="closeFullScreen")
        img(src="../img/icons/close.svg")