.page-container
    .stone-art-item_back(v-if="showService" @click="closeShowService()")
    .page-header {{selectedLanguage.type === 'ru' ? ServicesData.services.name : ServicesData.services.nameEng }}
    .page-contant.page-contant_services
        .page-item(v-if="!showService" v-for="service in ServicesData.services.servicesList")
            .page-item_name(@click="openService(service)") {{selectedLanguage.type === 'ru' ? service.name : service.nameEng}}
        .page-name(v-if="showService") {{ selectedLanguage.type === 'ru' ? pageName.name : pageName.nameEng }}
        .page-contacts(v-if="showService")
            .form-container
                .form-item()
                    input(type="text" v-model="contactName" :placeholder="selectedLanguage.type === 'ru' ? 'Имя' : 'Name'" :class="{'form-error': errorName}")
                .form-item
                    input(type="text" v-model="contactPhone" :placeholder="selectedLanguage.type === 'ru' ? 'Телефон' : 'Phone number'" :class="{'form-error': errorPhone}")
                .form-item
                    input(type="text" v-model="contactEmail" placeholder="E-mail")
                .form-item
                    textarea(v-model="contactComment" :placeholder="selectedLanguage.type === 'ru' ? 'Комментарий к заказу' : 'Comment'" )
                .form-item.form-item-error(v-if="errorPhone || errorName") Заполните обязательные поля
                .form-item
                    .form-button(@click="sendMail") {{selectedLanguage.type === 'ru' ? 'Заказать' : 'Order'}}
                .form-item(v-if="!emailStatus") {{selectedLanguage.type === 'ru' ? 'Заполните форму и в ближайшее время с Вами свяжутся' : 'Fill out the form and we will contact you shortly'}}
                .form-item(v-if="emailStatus") {{selectedLanguage.type === 'ru' ? emailStatus : emailStatusEng}}

