.page-container
    .page-header {{selectedLanguage.type === 'ru' ? 'Выставки' : 'Shows' }}
    .page-contant_shows
        .page-item_shows(v-for="show in ShowsData")
            div(style="min-height: 350px;")
                .page-item_shows-head(v-html="selectedLanguage.type === 'ru' ? show.location : show.locationEng")
                .page-item_shows-description(v-html="selectedLanguage.type === 'ru' ? show.description : show.descriptionEng")
                .page-item_shows-address(v-html="selectedLanguage.type === 'ru' ? show.address : show.addressEng")
                .page-item_shows-link
                    a(:href="show.link" target="blank") {{show.link}}
            .page-item_shows-images
                img(:src="show.photo" style="width: 100%;")
            .page-item_shows-images
                img(:src="selectedLanguage.type === 'ru' ? show.photoAfisha : show.photoAfishaEng" style="width: 100%;")

