.slider
    .single-item
        div.main-slider_item.main-slider_item1
        div.main-slider_item.main-slider_item2
        div.main-slider_item.main-slider_item3
        div.main-slider_item.main-slider_item4