div
    .page-header {{selectedLanguage.type === 'ru' ? 'СМИ о нас' : 'Mass Media about us' }}
    .company-about_back(@click="goBack()")
    .page-header-2 {{selectedLanguage.type === 'ru' ? 'Статьи' : 'Articles' }}
    .page-content.page-content_about.page-content_smi
        .page-item-about-links(v-for="link in Data.company.smi.links")
            .page-item-about-links_item
                a(:href="link.src" target="_blank")
                    .fa.fa-newspaper-o.icon.smi-item_links-icon
                    span {{selectedLanguage.type === 'ru' ? link.name : link.nameEng }}
    .page-header-2 {{selectedLanguage.type === 'ru' ? 'Видео' : 'Films' }}
    .page-content.page-content_about.page-content_smi.page-content_smi-video
        .page-item-about-links.video_item(v-for="video in Data.company.smi.videos")
            .page-item-about-links_item
                .film-video
                    video(controls="controls" width="100%" height="220px" :poster="video.poster")
                        source(:src="video.src")
                        | Тег video не поддерживается вашим браузером.
                        a(:href="video.src") Скачайте видео
                .film-name_smi {{selectedLanguage.type === 'ru' ? video.name : video.nameEng }}
