.stone-art-container
    .stone-art-header {{ Data.pages[type].pageName }}
    .stone-art-item_container(v-if="!isShowInfo")
        .stone-art-item(v-for="(item, index) in Data.pages[type].pageItems" @click="selectItem(item, index)")
            .stone-art-item_blur
            .stone-art-item_name(v-html="item.name")
            .stone-art-item_img
                img(:src="item.img")
    .stone-art-item_info(v-if="isShowInfo")
        .stone-art-item_info-name {{ infoData.name }}
        .stone-art-item_info-container
            .stone-art-item_info-description(v-if="infoData.description || infoData.about")
                span(v-html="infoData.description")
                p.desc(v-if="infoData.about") {{ selectedLanguage.type === 'ru' ? 'Описание изделия:' : 'Description:'}}
                span(v-html="infoData.about")
            .stone-art-item_info-images
                .stone-art-item_info-images_item(v-for="(img, index) in infoData.imagesPreview" @click="openImg(infoData.imagesFull, index)")
                    img(:src="img")

        .stone-art-item_back(v-if="isShowInfo" @click="back()")
    div(v-if="imgFull")
        FullImg(:images="images", :initial="initial", :close-full-screen="closeFullScreen")