@import 'libs/slick.styl'
@import 'libs/slick-theme.styl'
@import 'libs/font-awesome.styl'

body
    margin 0
    //font-family 'Oswald', sans-serif
    //font-family 'Prata', serif
    //font-family: 'Roboto', sans-serif;
    font-family: 'EB Garamond', serif;
    //font-family: 'Cardo', serif;

    background black url('../img/background.png')



a
    color white
    text-decoration none
    cursor pointer
    &:hover
        text-decoration underline

.container
    //background black url('../img/background.png')

.menu-container
    position fixed
    top: 0;
    left: 0;
    right: 0;
    display flex
    justify-content space-between
    align-items center
    background black
    height  60px
    color white
    z-index 1000
    a
        text-decoration none

.container-preview
    display flex
    justify-content center
    align-items center
    background-image url('../img/back.png')
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background black
    z-index 9999
    opacity 1
    transition all linear 1.5s

.container-preview_hide
    opacity 0

.container-preview_logo
    width 20%

// меню
.menu-icon {
    height 60px
    width 60px
    left 20px
    top 0
    position absolute
    cursor pointer
}
.menu-hamberger-icon
    height 2px
    width 40px
    position absolute
    top 50%
    left 50%
    background-color white
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all ease 0.5s;
    &:before, &:after
        content:"";
        position: absolute;
        height: inherit;
        border-radius: inherit;
        background-color: inherit;
        margin: auto;
        width: 50%;
        transition: all ease 0.5s;

    &:before
        top: -10px;
        left: 0;
        transform-origin: left;

    &:after
        bottom:-10px;
        right: 0;
        transform-origin: right;

.menu-open {
    transform:translate(-50%,-50%) rotate(135deg);
    &::before{
        top:0;
        transform: translateX(100%) rotate(-90deg);
    }
    &::after{
        bottom:0;
        transform: translateX(-100%) rotate(-90deg);
    }
}

.menu-container-closed
    display flex
    flex-direction column
    justify-content space-between
    position fixed
    left -250px
    bottom 0
    opacity 0
    top 0
    color white
    height auto
    width 250px
    background black
    transition all 0.35s linear 200ms
    // todo хз
    //overflow-y scroll
    z-index 999

    a
        text-decoration none

.menu-container-opened
    left 0
    opacity 1

.menu-item
    position relative
    padding 10px 40px
    text-align center
    font-size 17px
    cursor pointer
    color #bbb
    transition all 0.4s ease 0.2s
    &:hover
        color white
        .menu-item_under
            width 100%

.menu-item_sub
    position relative
    padding 5px 30px 0 30px
    text-align center
    font-size 17px
    cursor pointer
    color #bbb
    transition all 0.4s ease 0.2s
    &:hover
        color white
        .menu-item_under-sub
            width 100%

.menu-item_logo
    padding 10px 40px 0 40px
    text-align center
    //border 2px solid
    //border-image-source linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
    //border-image-slice 20
    margin 60px 12px 0 12px
    img
        width 80%
        margin-bottom 10px

.menu-item_logo-name
    font-size 16px
    text-align center
    color #bbb
    margin-bottom 15px

.menu-item_under
    background : linear-gradient(-16.54deg, rgba(176, 167, 74, 1) 0%, rgba(117, 87, 58, 1) 27.06%, rgba(176, 167, 74, 1) 43.14%, rgba(231, 235, 145, 1) 54.12%, rgba(117, 87, 58, 1) 70.98%, rgba(211, 177, 74, 1) 83.14%, rgba(117, 87, 58, 1) 100%);
    width 0
    height 2px
    transition all 0.2s ease 0.1s

.menu-item_under-sub
    background : linear-gradient(-16.54deg, rgba(176, 167, 74, 1) 0%, rgba(117, 87, 58, 1) 27.06%, rgba(176, 167, 74, 1) 43.14%, rgba(231, 235, 145, 1) 54.12%, rgba(117, 87, 58, 1) 70.98%, rgba(211, 177, 74, 1) 83.14%, rgba(117, 87, 58, 1) 100%);
    width 0
    height 2px
    transition all 0.2s ease 0.1s


.menu-item_submenu
    padding 5px 0
    position absolute
    top 0
    left 100%
    width 100%
    background black
    opacity 0.8





.company-about
    position absolute
    right 20px
    top 0
    bottom 0
    font-size 30px
    display flex
    align-items center

.company-icon
    display flex
    align-items center
    margin-left 100px
    font-size 17px
    span
        margin-left 20px
        color white
    img
        height 50px
        width 50px

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}


.menu-container-closed_bottom
    font-size 10px
    padding 10px 10px
    text-align center

.menu-language
    width 70px
    text-align center
    padding 2px 8px
    cursor pointer
    position relative
    margin-right 3%
    border 1px solid


.main-container
    margin-top 60px


//слайдер
.main-slider_item1
    background-image: url('../img/slider-img/1.jpg')
.main-slider_item2
    background-image: url('../img/slider-img/2.jpg')
.main-slider_item3
    background-image: url('../img/slider-img/3.jpg')
.main-slider_item4
    background-image: url('../img/slider-img/4.jpg')

.slider
    min-height 94vh
    .main-slider_item
        background-position: 50% 50%
        background-repeat: no-repeat
        background-size: cover
        height: 94vh !important
        position: relative
        z-index: -1
        &:after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 94vh
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 94vh
    .slick-slider
        min-height 94vh

    .slick-dots
        bottom 0
        background: black;
        height: 6%;
        opacity: 0.7;

    .slick-arrow
        opacity 0.5
        background-position: center;
        background-repeat: no-repeat;
        width: 5%;
        height 100px
        min-width 50px
        z-index 1
        &:hover
            opacity: 1;

    .slick-next:before, .slick-prev:before
        font-size: 0
    .slick-next
        background-image: url("../img/right-arrow.png")
        right 0
        &:hover
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/right-arrow.png")

    .slick-prev
        background-image: url("../img/left-arrow.png")
        left 0
        &:hover
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/left-arrow.png")

    .slick-dotted.slick-slider
        margin-bottom 0

    .slick-dots li.slick-active button:before
        color: #a37e2c
        opacity: 100
    .slick-dots li button:before
        font-size 35px
        color: white
        opacity: 100


.menu-language-select
    position: absolute;
    z-index: 2;
    left: -1px;
    top: -1px;
    width: 100%;
    border: 1px solid;
    text-align: center;

.menu-language-select_item
    display: flex;
    align-items: center;
    justify-content: center;
    background black
    height 30px
    &:hover
        background white
        color #a37e2c
        cursor pointer


//Страница о компании
.container-about
    color white


.page-item-about-description
    text-align left
    max-width: 400px;
    margin-right 30px
    margin-bottom 20px



// Страница камнерезное искуство
.stone-art-container
    position relative
    text-align center
    color white
    padding-top 10px
    border 2px solid
    border-image-source linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
    border-image-slice 20
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 90px auto 30px;
    background: black;

.stone-art-header
    font-size 30px
    font-weight bold
    margin: 15px 0;
    padding 0 40px


.stone-art-item_container
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0 20px 0;

.stone-art-item
    position relative
    cursor pointer
    width 200px
    height 200px
    margin 5px
    transition 0.1s linear
    box-sizing border-box
    &:hover
        border: 1px solid;
        border-image-source: linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
        border-image-slice: 20;

.stone-art-item_name
    font-size 20px
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;

.stone-art-item_blur
    background black
    opacity 0.5
    width 100%
    height 100%
    position: absolute;

.stone-art-item_img
    height 100%
    img
        height 99%
        max-width 99%



.stone-art-item_info-container
    padding 20px
    display flex

.stone-art-item_info-name
    color #d3b14a
    font-size 25px


.stone-art-item_info-img
    img
        width 250px

.stone-art-item_info-description
    text-align left
    padding 10px 20px
    width 35%
    min-width: 35%;
    span
        margin-bottom: 20px;
        display: block;
        text-align justify
    .desc
        color #d3b14a

.description_justify
    text-align justify

.stone-art-item_back
    background url('../img/icons/arrow_back_white.svg')
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    position absolute
    font-size: 30px;
    cursor pointer
    transition: opacity .3s ease;
    &:hover
        color #b0a74a
        background url('../img/icons/arrow_back_gold.svg')


.stone-art-item_info-images
    display flex
    flex-wrap wrap
    align-content center

.stone-art-item_info-images_item
    width 150px
    height 150px
    border: 1px solid black;
    margin: 2px;
    cursor pointer
    background black
    &:hover
        border: 1px solid;
        border-image-source: linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
        border-image-slice: 20;

    img
        height 99%
        max-width 99%




.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}



.full-img-container
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    z-index: 10000;

.full-img-container_slick
    img
        height 100%

.full-img-close
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor pointer
    min-width: 50px;
    min-height: 50px;
    width: 5%;
    height: 5%;
    opacity: 0.5;
    img
        width: 40px;
    &:hover
        opacity 1


//слайдер для галерей
.full-img-container_slick
    min-height 100vh
    .main-slider_item
        background-repeat: no-repeat
        background-position center
        background-size: contain
        height: 100vh !important
        position: relative
        z-index: -1
        &:after
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100vh
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100vh
    .slick-slider
        min-height 100vh

    .slick-dots
        bottom 0
        background: black;
        height: 6%;
        opacity: 0.6;
        align-items: center;
        display: flex;
        justify-content: center;

    .slick-arrow
        opacity 0.5
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
        width: 5%;
        min-width 50px
        z-index 1
        &:hover
            opacity: 1;

    .slick-next:before, .slick-prev:before
        font-size: 0
    .slick-next
        background-image: url("../img/right-arrow.png")
        right 0
        &:hover
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/right-arrow.png")

    .slick-prev
        background-image: url("../img/left-arrow.png")
        left 0
        &:hover
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/left-arrow.png")

    .slick-dotted.slick-slider
        margin-bottom 0

    .slick-dots li.slick-active button:before
        color: #a37e2c
        opacity: 100
    .slick-dots li button:before
        font-size 35px
        color: white
        opacity: 100


    .menu-language-select
        position: absolute;
        z-index: 2;
        left: -1px;
        top: -1px;
        width: 100%;
        border: 1px solid;
        text-align: center;

    .menu-language-select_item
        display: flex;
        align-items: center;
        justify-content: center;
        background black
        height 30px
        &:hover
            background white
            color #a37e2c
            cursor pointer



 // для всех страниц
.page-container
    position relative
    text-align center
    color white
    padding-top 10px
    border 2px solid
    border-image-source linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
    border-image-slice 20
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 90px auto 30px;
    background: black;

.page-header
    font-size 30px
    font-weight bold
    margin: 15px 0;

.page-contant
    text-align left
    padding: 20px;

.page-item
    cursor pointer
    margin-bottom 15px


.page-item_name
    width fit-content;
    &:hover
        border-bottom 1px solid
        border-image-source linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
        border-image-slice 20


.page-images
    width 150px
    height 150px
    border: 1px solid black;
    margin: 2px;
    cursor pointer
    background black
    text-align center
    &:hover
        border: 1px solid;
        border-image-source: linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
        border-image-slice: 20;

    img
        height 100%

.page-name
    font-size 18px
    text-align center

.page-images_container
    display flex
    margin: 20px;
    flex-wrap: wrap;


.page-item-about-photo
    width 170px
    height 230px
    margin-right: 30px
    margin-bottom: 20px

.page-content_about
    display flex
    padding 30px
    flex-wrap: wrap;

.page-contant_services
    text-align center
    text-align: -webkit-center;

.page-item-about-links
    font-size: 20px
    text-align left
    &_articles
        margin-bottom 20px
        font-size 22px


.page-item-about-links_item
    margin-bottom: 5px;
    a
        color white
        text-decoration none
        cursor pointer
        &:hover
            text-decoration underline
    .icon
        margin-right 10px

.catalogs-head
    margin-top 40px
    font-size 22px

.catalogs-container
    display flex
    flex-wrap: wrap;

.catalogs-item
    margin-right 10px
    margin-top 10px
    opacity 0.8
    &:hover
        opacity 1
    img
        width 200px
        height 144px


.form
    &-container
        //display flex
        //justify-content center
        //flex-wrap wrap
        //flex-direction column
        padding 15px
    &-item
        text-align center
        margin 5px 0
        display: flex;
        justify-content: center
        &-error
            font-size 16px
            color red

        input, textarea
            min-width 200px
            width 400px
            border 2px solid #000
            padding-left 10px
            font-size 15px
            cursor pointer
            &:hover, &:active
                border 2px solid
                border-image-source linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
                border-image-slice: 20
        input
            height 25px
        textarea
            resize none
            height 60px
    &-button
        display: flex;
        align-items: center;
        justify-content: center;
        min-width 200px
        width 250px
        height 40px
        border 2px solid #fff
        background #000
        color #fff
        margin-top 15px
        cursor pointer
        font-size 18px
        &:hover
            border 2px solid
            border-image-source linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
            border-image-slice: 20
            background #fff
            color #a37e2c
    &-error
        border-color red !important


.page-header_galleries
    font-size 20px

.page-contant_item-img
    max-width 400px



// Выставки--------------------------------------------------
.page-contant_item
    max-width 400px
    width 40%

.page-contant_contacts
    display flex
    text-align left
    padding: 20px;

.page-contant_shows
    text-align left
    padding: 20px
    display flex
    flex-wrap wrap
    justify-content: center;

.page-item_shows
    cursor pointer
    margin-bottom 15px
    width 45%
    min-width 250px
    padding: 0 5px;

.page-item_shows-address,
.page-item_shows-description,
.page-item_shows-link,
.page-item_shows-images
    margin-bottom 20px

.page-item_shows-head
    min-height: 70px;
    font-size 25px
    text-align center
    margin-bottom 10px

.instagram-block
    display flex
    height 25px
    span
        margin-left 5px


// Видео
.film-name
    color #d3b14a
    font-size 25px
    margin-bottom 10px
.video-header
    padding 0 50px

.company-about_back
    background url('../img/icons/arrow_back_white.svg')
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    position absolute
    font-size: 20px;
    cursor pointer
    transition: opacity .3s ease;
    &:hover
        color #b0a74a
        background url('../img/icons/arrow_back_gold.svg')

// сми
.smi-item_links-icon
    margin-right 5px

.page-header-2
    font-size 23px
    font-weight bold
    margin: 5px 0
    color #d3b14a

.page-content_smi
    justify-content center

.film-name_smi
    font-size 20px
    margin-bottom 10px

.video_item
    min-width: 220px;
    max-width: 30%;
    margin: 0 10px 10px;

.page-content_smi-video
    justify-content left

//медиа запросы
@media (max-width: 768px)
    .company-icon
        font-size: 12px
        margin-left: 60px;

        span
            margin-left 5px

    .menu-item_logo
        img
            width 50%
    .menu-icon
        left 0
    .menu-container-closed
        width 100%
        left -100%
        overflow auto

    .menu-container-opened
        left 0
        opacity 1

    .menu-item_submenu
        position relative
        left 0
        opacity 1
        border: 1px solid;
        border-image-source: linear-gradient(-16.54deg, #b0a74a 0%, #75573a 27.06%, #b0a74a 43.14%, #e7eb91 54.12%, #75573a 70.98%, #d3b14a 83.14%, #75573a 100%);
        border-image-slice: 20;


    .stone-art-item_info-container
        flex-wrap wrap
    .stone-art-item_info-description
        width 100%

    .stone-art-item_back
        left 0

    .company-about_back
        left 0

    .slider
        .main-slider_item1
            background-image: url('../img/slider-img/1-mob.jpg')
        .main-slider_item2
            background-image: url('../img/slider-img/2-mob.jpg')
        .main-slider_item3
            background-image: url('../img/slider-img/3-mob.jpg')
        .main-slider_item4
            background-image: url('../img/slider-img/4-mob.jpg')
    .catalogs-container
        flex-direction: row;

    .page-contant_item
        width 100%
    .page-contant_contacts
        flex-direction: column;
    .page-contant_item-img
        max-width 250px




