.wrapper
    .container-preview(v-if="previewHide" :class="{'container-preview_hide': !preview}")
        .container-preview_logo
            img(src="../img/logo.svg")

    .container
        div(v-click-outside="hideMenu")
            .menu-container
                .menu-icon(@click="menuOpen = !menuOpen")
                    .menu-hamberger-icon(:class="{ 'menu-open': menuOpen}")

                transition(name="fade" mode="in-out")
                    router-link(to="/")
                        .company-icon(v-if="!menuOpen" @click="hideMenu()")
                            img(src="../img/logo.svg")
                            span STONE-CRAFTING HOUSE BY ALEXEY&nbspANTONOV
                        .company-icon(v-else @click="hideMenu()")
                            span {{selectedLanguage.type === 'ru' ? 'Контакты' : 'Contacts' }}:
                            span(v-html="contacts.phoneMain + ', ' + contacts.email")
                .menu-language(v-click-outside="hideSelectLanguage")
                    .menu-language-selected(@click="showSelectLanguage = !showSelectLanguage") {{selectedLanguage.name}}
                    .menu-language-select(v-if="showSelectLanguage")
                        .menu-language-select_item(v-for="option in languages")
                            div(@click="setLanguage(option)") {{option.name}}

            .menu-container-closed(:class="{'menu-container-opened': menuOpen}")
                .menu-container-closed_top
                    router-link(to="/")
                        .menu-item_logo(@click="hideMenu()")
                            img(src="../img/logo.svg")
                        .menu-item_logo-name(v-html="selectedLanguage.type === 'ru' ? menu.logoName : menu.logoNameEng")
                    router-link(to="/company")
                        .menu-item(@click="hideMenu()") {{ selectedLanguage.type === 'ru' ? menu.mainMenu.about.name : menu.mainMenu.about.nameEng }}
                            .menu-item_under
                    .menu-item(@mouseover="showSubMenu('stoneArt')"
                                @mouseleave="hideSubMenu('stoneArt')") {{ selectedLanguage.type === 'ru' ? menu.mainMenu.stoneArt.name : menu.mainMenu.stoneArt.nameEng }}
                        .menu-item_under
                        .menu-item_submenu(v-if="menuStoneArt")
                            router-link(v-for="item in menu.mainMenu.stoneArt.subMenu" :key="item.url" :to="item.url")
                                .menu-item_sub(@click="hideMenu()") {{ selectedLanguage.type === 'ru' ? item.name : item.nameEng }}
                                    .menu-item_under-sub
                    .menu-item(@mouseover="showSubMenu('collections')"
                                @mouseleave="hideSubMenu('collections')") {{ selectedLanguage.type === 'ru' ? menu.mainMenu.collections.name : menu.mainMenu.collections.nameEng }}
                        .menu-item_under
                        .menu-item_submenu(v-if="menuCollections")
                            router-link(v-for="item in menu.mainMenu.collections.subMenu" :key="item.url" :to="item.url")
                                .menu-item_sub(@click="hideMenu()") {{ selectedLanguage.type === 'ru' ? item.name : item.nameEng }}
                                    .menu-item_under-sub
                    router-link(to="/services")
                        .menu-item(@click="hideMenu()") {{ selectedLanguage.type === 'ru' ? menu.mainMenu.services.name : menu.mainMenu.services.nameEng }}
                            .menu-item_under
                    router-link(to="/show")
                        .menu-item(@click="hideMenu()") {{ selectedLanguage.type === 'ru' ? menu.mainMenu.shows.name : menu.mainMenu.shows.nameEng }}
                            .menu-item_under
                    router-link(to="/contacts")
                        .menu-item(@click="hideMenu()") {{ selectedLanguage.type === 'ru' ? menu.mainMenu.contacts.name : menu.mainMenu.contacts.nameEng }}
                            .menu-item_under
                .menu-container-closed_bottom © STONE-CRAFTING HOUSE BY ALEXEY&nbspANTONOV

        .main-container
            transition(name="component-fade" mode="out-in")
                router-view(:selectedLanguage="selectedLanguage")







