doctype html
html
    base(href='/')
    head
        meta(charset='UTF-8')
        meta(name='language', content='en')
        meta(name='description', content='Todoix')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name="format-detection" content="telephone=no")
        link(rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon")
        link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet")


        link(rel='stylesheet', href='/css/index.css')

        title Stone-crafting house by Alexey Antonov
    body
        #app
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
        script(src='/js/main.js')

        noscript
            div
                img(src="https://mc.yandex.ru/watch/49240795" style="position:absolute; left:-9999px;" alt="")